.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px);
    .loginMain {
      width: 300px;
      height: 300px;
      padding: 10px;
      border-radius: 10px;
    }

    .avatar_box {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .loginLogo {
        width: 80px;
        height: 40px;
      }
    }

    .ant-form-item {
      margin-bottom: 12px;
    }

    .loginFormButton {
      width: 100%;
    }
  }
}
