.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tabBox {
  padding: 0px 20px 10px 20px;
  // 音频设置
  .setAudioBox {
    margin: auto;
    // background-color: #f00;
    .audioItem {
      height: 130px;
      padding: 10px;
      font-weight: bold;
      border-radius: 10px;
      border: 1px solid #ccc9;
      margin-bottom: 20px;
      p {
        margin-bottom: 10px;
      }
      .box {
        display: flex;
        align-items: center;
        padding-left: 28px;
        margin-bottom: 10px;
      }
    }
  }
  // 快捷按键
  .setQuickBox {
    margin: auto;
    border-radius: 10px;
    border: 1px solid #ccc9;
    .boxItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0px 20px;
      font-weight: bold;
      border-bottom: 1px solid #ccc9;
    }
  }
  :global {
    // Tabs 组件样式
    .ant-tabs-tab .ant-tabs-tab-btn {
      color: #ccc;
    }
    // 选择的tabs
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #000;
    }
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
      background-color: transparent;
    }
  }
}
