.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 20px 10px 20px;
  font-size: 14px;
  // 音频设置
  .setAudioBox {
    .audioItem {
      height: 130px;
      padding: 10px;
      font-weight: bold;
      border-radius: 10px;
      border: 1px solid #ccc9;
      margin-bottom: 20px;
      p {
        margin-bottom: 10px;
      }
      .box {
        display: flex;
        align-items: center;
        padding-left: 28px;
        margin-bottom: 10px;
      }
    }
    .audioItem:last-child {
      margin-bottom: 0px;
    }
  }
  // 快捷按键
  .setQuickBox {
    border-radius: 10px;
    border: 1px solid #ccc9;
    .boxItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0px 20px;
      font-weight: bold;
      border-bottom: 1px solid #ccc9;
      :global {
        .ant-select-focused.ant-select-open .ant-select-selector {
          border-color: #f000;
        }
      }
    }
  }
}
