.error_box {
  height: 100%;
  .error {
    width: 100%;
    height: calc(100% - 40px);
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
